/*Author Armando*/
.img_crearficha{
    width: 80%;
}
.img_trabajod{
    width: 100%;
    margin-bottom: 6%;
}
.img_reporte{
    width: 88%;
    margin-bottom: 0%;
}
.col-xs-6.col-sm-3.pricing-box{
    margin-top: 5%;
    margin-left: 5%;
}
#cont_widget-bodies{
    
}
#form_field_select_4_chosen{
    width: 35% !important;
}

#form_field_select_4_1_chosen{
    width: 35% !important;
}

#endereco_cep, #nTipoParto_nTipoParto{
    margin-left: -2.5%;
}
.tl{
    margin-left: -2.1% !important;
}
.l_artif{
    margin-left: 0.3%;
}
#ncuidades_crece{
    margin-left: 0.8%;
}
/*.l_mat_ex{
    width: 80px;
}*/
.col-xs-1, .col-xs-2, .col-xs-3, 
.col-xs-4, .col-xs-5, .col-xs-6, 
.col-xs-7, .col-xs-8, .col-xs-9, 
.col-xs-10, .col-xs-11, .col-xs-12, 
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-md-1, .col-md-2, .col-md-3, .col-md-4,
.col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
    z-index: 0 !important;
}
.fnome{
    margin-left: 20 % !important;
}
#nome-id .isearch{
    /*margin: 150px 0 0 3px !important;*/
    position: relative;
    top: 5px;
    left: 4px;
}
