{% extends 'layout.html.twig' %}

{% block stylesheets_page %}
   <!-- <link href="{#{asset('bundles/app/css/dashboard.css')}#}" rel="stylesheet"> -->
{% endblock stylesheets_page%}

{% block page_content %} 

    <div class="page-content">
        <div class="page-header row">
            <div class="col-md-4 col-sm-4">
                <h1>
                    Maneje seus pacientes:
                </h1>
            </div>
            <div class="col-md-offset-6 col-sm-offset-6 col-md-2 col-sm-3">
                <a href="#" class="btn btn-app btn-info btn-sm no-radius" >
                    <i class="icon-envelope bigger-230"></i>
                    MailList
                </a>
            </div>

        </div><!-- /.page-header -->

        <div id="accordion1" class="accordion-style2 panel-group no-padding-right">
            <div class="panel panel-default">
                <div class="row">
                    <label class="col-md-2 col-sm-2 panel-title  blue  accordion-submenu" id="acoordion-title1">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> 
                            Criterio Filtragem
                            <i class="icon-angle-down bigger-110" data-icon-hide="icon-angle-down " data-icon-show="icon-double-angle-right"></i>
                        </a>
                    </label>
                    <div id="filters" class="col-md-8 col-sm-8">{{render(controller('ReportsBundle:Default:filterPage'))}}</div>
                </div>
                <div class="space" > </div> 
                <div class="panel-collapse collapse in" id="collapseOne">	

                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="sample-table-2" class="table table-striped table-bordered table-hover ">
                                    <thead>
                                        <tr>
                                            <!-- <th class="center">Seleccionar</th> -->                                        
                                            <th class="center">Nome Paciente</th>
                                            <!--<th class="hidden-480 center">Responsavels</th> -->
                                            <th class="hidden-480 center">Endereco</th>                                       
                                            <th class="hidden-480 center">Dado 4</th>
                                            <th class="center">Acciones</th>
                                        </tr>
                                    </thead>

                                    <tbody id="mytbody">
                                        {{ render(controller('ReportsBundle:Default:dataPage',{'page':actPage}))}}
                                    </tbody>
                                </table>
                            </div>
                            <nav id="my-paginator">
                                {{ render(controller('ReportsBundle:Default:page', {'activepage':actPage}))}}   
                            </nav>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="space" > </div> 	

        {# include 'modal_forms_proyecto.html.twig' #}
    </div><!-- /.page-content -->      

    {% block javascripts_page %}
        <script src="{{asset('bundles/general/js/_others/filter.js')}}"></script>
    {% endblock javascripts_page %} 

{% endblock %}    



