<div id="filters" class="btn-group">
    {% for f in filters %}
        <a id="{{f.id}}"  class="actfilter" onclick="{{f.onclick}}()">
            <span  class="label label-lg label-grey arrowed-right" style="cursor: hand;">
                {{f.name}}
            </span>
        </a>
    {% endfor %}
</div>

<!-- 
<a id="{#{f.id}#}" class="actfilter btn" onclick="{#{f.onclick}#}()">
            <span class="glyphicon glyphicon-remove"></span>
            <small class="text-muted">
{#{f.name}#}
</small>
</a>
-->